html,
body {
  padding: 0;
  margin: 0;
  background-color: #1a1728;
  /* position: relative; */
  /* min-height: 100%; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
